<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0">
  <meta name="MobileOptimized" content="320">
  <meta name="theme-color" content="#000000" />
  <meta name="description"
    content="A suite of open source tools for creating and managing virtual assistants and chat bots. Built by ANS Group">
  <meta name="keywords" content="Chatbot,Virtual Assistant,ANS,Basebot,Bot Framework">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="https://ans-group.github.io/basebot">
  <meta name="twitter:title" content="Basebot">
  <meta name="twitter:description" content="A Chatbot Framework by ANS Group">

  <!-- Favicons -->
  <link rel="shortcut icon" href="http://localhost:3000/images/favicon.ico" />
  <link rel="manifest" href="http://localhost:3000/site.webmanifest" />

  <!-- Stylesheets -->
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="http://localhost:3000/css/main.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140971542-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-140971542-1');
  </script>
</head>

<body class="">
  <main>
