{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "debug": {
          "sourceMaps": "inline",
          "retainLines": true
        }
      }
    ]
  ],
  "plugins": [
    "import-glob"
  ],
  "sourceMaps": "inline",
  "retainLines": true
}
