{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "modules": true
    }
  },
  "extends": [
    "eslint:recommended",
    "standard"
  ],
  "rules": {
    "no-undef": 0,
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "indent": [
      "error",
      2
    ],
    "import/first": 0,
    "no-extra-semi": "error",
    "no-debugger": 0,
    "no-console": 1,
    "no-unused-vars": 1
  }
}
