.docs-section {
  border-bottom: 0.1rem solid color(grey);
  padding: 5rem 2.5rem;
  max-width: 110rem;
  @media (min-width: 768px){
    padding: 7.5rem 2.5rem;
  }
  p {
    max-width: 85rem;
  }
  pre {
    margin-bottom: 2rem;
  }
  img {
    display: block;
    margin-bottom: 3rem;
  }
  > .heading {
    font-size: 1.5rem;
    color: color(darkGrey);
  }
  > .title {
    font-size: 2.9rem;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  > .section {
    padding-bottom: 5rem;
    @media (min-width: 768px){
      padding-bottom: 8rem;
    }
  }
  > .notice {
    padding: 1.5rem 1rem; 
    padding-left: 6rem;
    background: #eee;
    font-weight: 600;
    font-size: 1.6rem;
    align-items: center;
    position: relative;
    &:before {
      content: url("data:image/svg+xml,%3Csvg viewBox='0 -25 511.80961 511' width='1.5em' height='1.5em' stroke='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m78.714844 461.207031h354.390625c27.378906.003907 52.789062-14.222656 67.097656-37.5625 14.3125-23.339843 15.460937-52.4375 3.039063-76.835937l-176.925782-302.894532c-13.285156-26.578124-40.410156-43.40625-70.125-43.507812s-56.953125 16.539062-70.417968 43.027344l-177.460938 303.855468c-12.203125 24.398438-10.898438 53.378907 3.441406 76.585938 14.34375 23.207031 39.679688 37.332031 66.960938 37.332031zm-55.402344-105.800781 177.460938-303.855469c10.492187-20.972656 31.972656-34.175781 55.421874-34.074219 23.449219.101563 44.8125 13.496094 55.121094 34.558594l176.929688 302.890625c9.554687 19.109375 8.535156 41.804688-2.695313 59.980469-11.234375 18.175781-31.078125 29.238281-52.445312 29.234375h-354.390625c-21.269532-.003906-41.035156-10.964844-52.300782-29.007813-11.265624-18.039062-12.4375-40.613281-3.101562-59.726562zm0 0'/%3E%3Cpath d='m255.910156 418.539062c23.566406 0 42.667969-19.101562 42.667969-42.664062 0-23.566406-19.101563-42.667969-42.667969-42.667969-23.5625 0-42.664062 19.101563-42.664062 42.667969.027344 23.550781 19.113281 42.636719 42.664062 42.664062zm0-68.265624c14.140625 0 25.601563 11.460937 25.601563 25.601562 0 14.136719-11.460938 25.597656-25.601563 25.597656-14.136718 0-25.597656-11.460937-25.597656-25.597656.015625-14.132812 11.46875-25.585938 25.597656-25.601562zm0 0'/%3E%3Cpath d='m255.910156 316.140625c23.554688-.027344 42.640625-19.113281 42.667969-42.667969v-162.132812c0-23.5625-19.101563-42.664063-42.667969-42.664063-23.5625 0-42.664062 19.101563-42.664062 42.664063v162.132812c.027344 23.554688 19.113281 42.640625 42.664062 42.667969zm-25.597656-204.800781c0-14.136719 11.460938-25.597656 25.597656-25.597656 14.140625 0 25.601563 11.460937 25.601563 25.597656v162.132812c0 14.140625-11.460938 25.601563-25.601563 25.601563-14.136718 0-25.597656-11.460938-25.597656-25.601563zm0 0'/%3E%3C/svg%3E");
      position: absolute;
      left: 2rem;
      top: 0;
      bottom: 0;
      margin: auto 0;
      height: 1.75em;
      display: inline-block;
      margin-right: 1rem;
    }
  }
}
